<!-- ====== Header ====== -->
<header class="header" id="header" [class.bg-header]="isScrolled">
    <!-- ====== Navigation ====== -->
    <nav class="navbar">
      <div class="row container d-flex section__border">
        <div class="logo" routerLink = "{{redirectLink}}">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b9/Marvel_Logo.svg/2560px-Marvel_Logo.svg.png" alt="" />
        </div>
        <div class="nav-list d-flex" [class.show]="isMenuOpen">
          <a routerLink="/characters" routerLinkActive="active">Characters</a>
          <a routerLink="/comics" routerLinkActive="active">Comics</a>
          <a routerLink="/events" routerLinkActive="active">Events</a>
          <!-- <a >Contact</a> -->
          <div class="close" (click)="toggleMenu()">
            <i class="bx bx-x"></i>
          </div>
          <a class="user-link">Login</a>
        </div>

        <div class="icons d-flex">
          <!-- <div class="icon d-flex"><i class="bx bx-search"></i></div> -->
          <div class="icon d-flex">
            <!-- Theme change button -->
            <i class="{{ isDarkTheme ? 'ri-sun-line' : 'ri-moon-line' }} change-theme" id="theme-button" (click)="toggleTheme()"></i>
          </div>
        </div>

        <!-- Hamburger -->
        <div class="hamburger" (click)="toggleMenu()">
          <i class="bx bx-menu-alt-right"></i>
        </div>
      </div>

      <div class="InputContainer" *ngIf="currentRoute.includes('/characters') || currentRoute.includes('/events')">
        <input autofocus type="text" name="text" class="input" id="searchText" [(ngModel)]="filter" (keyup.enter)="applyFilter()" placeholder="Search" >
        
        <label for="input" class="labelforsearch">
          <svg viewBox="0 0 512 512" class="searchIcon"><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"></path></svg>
        </label>
      </div>

    </nav>
</header>
