<!-- ====== Footer ====== -->
<footer>
    <div class="row">
      <div class="col">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b9/Marvel_Logo.svg/2560px-Marvel_Logo.svg.png" class="logo__marvel" alt="">
        <p>Immerse yourself in the exciting universe of Marvel! Explore the secrets of your favorite heroes and villains, unleash your imagination and be part of the legend. Adventure awaits you, brave dreamer! 🚀🌟</p>
      </div>
      <div class="col">
        <h3>Office <div class="underline"><span></span></div> </h3>
        <p><i class="uil uil-map-marker"></i> Lima - Perú</p>
        <p class="email-id">anthony.avellaneda.p@uni.pe</p>
        <h4><i class="uil uil-phone"></i> +51 923 946 801</h4>
      </div>
      <div class="col">
        <h3>Links <div class="underline"><span></span></div> </h3>
        <ul>
          <li><a href="">Characters</a></li>
          <li><a href="">Comics</a></li>
          <li><a href="">Events</a></li>
          <li><a href="">Contact</a></li>
        </ul>
      </div>
      <div class="col">
        <h3>Newsletter <div class="underline"><span></span></div> </h3>
        <form>
          <i class='bx bx-envelope'></i>
          <input type="email" placeholder="Enter your email" required>
          <button type="submit"><i class="uil uil-arrow-right"></i></button>
        </form>
        <div class="social-icons">
          <a href="https://www.facebook.com/anthony.avellanedapaitan" target="_blank"><i class="ri-facebook-circle-fill icon-social facebook" ></i></a>
          <a href="https://www.linkedin.com/in/AnthonyAvellanedaPaitán/" target="_blank"><i class="uil uil-linkedin icon-social linkedin"></i></a>
          <a href="https://twitter.com/TomStark08" target="_blank"><i class="uil uil-twitter icon-social twitter"></i></a>
          <a href="https://github.com/AnthonyAvellaneda10" target="_blank"><i class="uil uil-github icon-social github"></i></a>
        </div>
      </div>
    </div>
    <hr>
  <p class="copyright">© LegendsAssemble 2023 | Developed by Anthony Avellaneda Paitán</p>
</footer>
